body { 
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align:center;
  text-shadow: -0.1em 0.1em 2px #333;
}

#wordcount textarea#text, #wordcount table { 
  width: 90%; 
  padding: 4px;
  font-size: small;
  margin: 1em auto; 
}

#wordcount textarea#text {
  font-family: Gentium;
  height: 100px; 
  overflow: hidden;
}

#wordcount table { 
  border: 1px solid black;
  font-family: Gentium;
  height: 100px; 
  overflow: hidden;
}

#wordcount table thead tr:hover { 
  cursor: pointer; 
}

#wordcount table tbody tr:hover { 
  background: yellow;
  cursor: pointer; 
}

table thead { 
  background: #cecece;
  color: black;
}

table thead { 
  background: skyblue;
}


span#pattern {
  float:right; 
}

ul#commands {
  display: inline;
}

ul#commands li {
  display: inline;
}

div#paste {
  border-bottom: 1px solid black;
  overflow: auto;
  margin: 0;
  padding: 1em;
  background: skyblue;
}

#countbox { 
  padding: 1em;
}
