body { 
  background: #cecece;
}

.text { 
  width: 60%;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  float:left;
}

#counts { 
  float:right;
  width: 30%;
 
}

#wrapper { 
  overflow: hidden;
}  

header { 
  overflow: hidden;
}  

#counts { 
  background: #fff;
}

th{ 
  border-bottom: 1px solid black;
}
th.wordCount, td.wordCount{ 
  text-align:right;
  width: 5em;
  margin: 0;
}
td, th { 
  padding: 4px;
}

th.countedWord, td.countedWord{ 
  border-left: 1px solid #cecece; 
}

#text2 { 
  display:none;
}
#text, #text2 { 
  width: 50%; 
  float:left;
}
